* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(176, 214, 144);
}

section {
    padding: 4%;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
section table {
    width: 80%;
    background-color:rgb(225, 243, 217);
    padding: 20px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(176, 214, 144);
    width: 100%;
    padding: 15px;
}

footer a{
    text-align: center;
    align-items: center;
    align-content: center;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
}