header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(176, 214, 144);
}
footer{
    background-color: rgb(176, 214, 144);
    height: 100%;
    width: 100%;
}